In [21]:
import numpy as np
import pandas as pd

In [22]:
ser = pd.Series(np.random.random(5), name = 'Coluna 01')

In [23]:
ser

0    0.763276
1    0.563986
2    0.664742
3    0.174898
4    0.150385
Name: Coluna 01, dtype: float64

In [24]:
ser[2]

0.6647417268581092

In [25]:
# Biblioteca que importa dados de APIs
from pandas_datareader import data as wb

In [26]:
# Definimos 3 parâmetros
# 1º o nome da ação
# 2º a fonte de dados
# 3º a data de início da consulta
MSFT = wb.DataReader('MSFT', data_source='yahoo', start='2019-1-1')

In [27]:
# Dados históricos dos valores das ações da Microsoft desde 2019
MSFT.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 780 entries, 2019-01-02 to 2022-02-03
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   High       780 non-null    float64
 1   Low        780 non-null    float64
 2   Open       780 non-null    float64
 3   Close      780 non-null    float64
 4   Volume     780 non-null    float64
 5   Adj Close  780 non-null    float64
dtypes: float64(6)
memory usage: 42.7 KB

In [28]:
# Primeiras linhas
MSFT.head()

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2019-01-02,101.750000,98.940002,99.550003,101.120003,35329300.0,97.782440
2019-01-03,100.190002,97.199997,100.099998,97.400002,42579100.0,94.185211
2019-01-04,102.510002,98.930000,99.720001,101.930000,44060600.0,98.565704
2019-01-07,103.269997,100.980003,101.639999,102.059998,35656100.0,98.691406
2019-01-08,103.970001,101.709999,103.040001,102.800003,31514400.0,99.406990

In [29]:
# Últimas linhas
MSFT.tail()

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2022-01-28,308.480011,294.450012,300.230011,308.260010,49743700.0,308.260010
2022-01-31,312.380005,306.369995,308.950012,310.980011,46444500.0,310.980011
2022-02-01,310.630005,305.130005,310.410004,308.760010,40894300.0,308.760010
2022-02-02,315.119995,308.880005,309.630005,313.459991,36552800.0,313.459991
2022-02-03,311.230011,302.739990,309.489990,304.269989,27128694.0,304.269989

In [30]:
'''
DataFrame com as informações de fechamento ajustado (Adj Close) das ações
das empresas Procter & Gamble, Microsoft, AT&T, Ford
e General Electric
'''

# Nome das ações
acoes = ['PG','MSFT','T','F','GE']

# Criamos o DataFrame vazio
new_data = pd.DataFrame()

# Preenchemos o DataFrame com os dados das ações
for a in acoes:
    new_data[a] = wb.DataReader(a, data_source='yahoo', start='2019-1-1')['Adj Close']

In [32]:
colunas_a = ['Procter & Gamble', 'Microsoft', 'AT&T', 'Ford', 'General Electric']
new_data.columns = colunas_a

new_data.tail()

,Procter & Gamble,Microsoft,AT&T,Ford,General Electric
Date,,,,,
2022-01-28,160.500000,308.260010,25.209999,19.540001,92.099998
2022-01-31,160.449997,310.980011,25.500000,20.299999,94.480003
2022-02-01,159.740005,308.760010,24.420000,20.660000,97.949997
2022-02-02,162.600006,313.459991,24.540001,20.629999,98.040001
2022-02-03,164.259995,304.244202,24.520000,20.005699,98.199997