In [1]:
import numpy as np
import pandas as pd

In [2]:
ser = pd.Series(np.random.random(5), name = 'Coluna 01')

In [3]:
ser

0    0.713079
1    0.391016
2    0.961245
3    0.760425
4    0.757936
Name: Coluna 01, dtype: float64

In [4]:
ser[2]

0.9612447999052

In [5]:
# Biblioteca que importa dados de APIs
from pandas_datareader import data as wb

In [12]:
# Definimos 3 parâmetros
# 1º o nome da ação
# 2º a fonte de dados
# 3º a data de início da consulta
MGLU3 = wb.DataReader('MGLU3.SA', data_source='yahoo', start='2019-1-1')

In [13]:
# Dados históricos dos valores das ações da Microsoft desde 2019
MGLU3.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 767 entries, 2019-01-02 to 2022-02-03
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   High       767 non-null    float64
 1   Low        767 non-null    float64
 2   Open       767 non-null    float64
 3   Close      767 non-null    float64
 4   Volume     767 non-null    float64
 5   Adj Close  767 non-null    float64
dtypes: float64(6)
memory usage: 41.9 KB

In [14]:
# Primeiras linhas
MGLU3.head()

                High       Low      Open     Close      Volume  Adj Close
Date
2019-01-02  5.812187  5.594687  5.638125  5.812187  27017600.0   5.641578
2019-01-03  5.796562  5.605000  5.780937  5.750000  26342400.0   5.581216
2019-01-04  5.760937  5.573437  5.751562  5.575000  27721600.0   5.411354
2019-01-07  5.702500  5.539687  5.562500  5.661562  21174400.0   5.495375
2019-01-08  5.702812  5.593750  5.673437  5.615937  19398400.0   5.451089

In [15]:
# Últimas linhas
MGLU3.tail()

            High   Low  Open  Close       Volume  Adj Close
Date
2022-01-28  7.23  6.62  7.21   6.65  149583500.0       6.65
2022-01-31  7.11  6.67  6.80   7.02  127917000.0       7.02
2022-02-01  7.33  6.88  7.00   7.01  154376100.0       7.01
2022-02-02  7.25  6.44  7.09   6.59  187066100.0       6.59
2022-02-03  0.00  0.00  0.00   6.53          0.0       6.53

In [16]:
'''
DataFrame com as informações de fechamento ajustado (Adj Close) das ações
das empresas Procter & Gamble, Microsoft, Magazine Luiza, Ford
e General Electric
'''

# Nome das ações
acoes = ['PG','MSFT','MGLU3.SA','F','GE']

# Criamos o DataFrame vazio
new_data = pd.DataFrame()

# Preenchemos o DataFrame com os dados das ações
for a in acoes:
    new_data[a] = wb.DataReader(a, data_source='yahoo', start='2019-1-1')['Adj Close']

In [17]:
colunas_a = ['Procter & Gamble', 'Microsoft', 'Magazine Luiza', 'Ford', 'General Electric']
new_data.columns = colunas_a

new_data.tail()

,Procter & Gamble,Microsoft,Magazine Luiza,Ford,General Electric
Date,,,,,
2022-01-28,160.500000,308.260010,6.65,19.540001,92.099998
2022-01-31,160.449997,310.980011,7.02,20.299999,94.480003
2022-02-01,159.740005,308.760010,7.01,20.660000,97.949997
2022-02-02,162.600006,313.459991,6.59,20.629999,98.040001
2022-02-03,164.139999,301.250000,6.53,19.889999,98.320000