# Fundamentos Python

In [1]:
16 / 3

5.333333333333333

In [2]:
# Resto da divisão
16 % 3

1

In [3]:
16 // 3

5

In [4]:
# Elevar um número a outro
5 ** 3

125

## Funções :)

In [5]:
# Funções podem ou não conter parâmetros
def simple():
    print('Minha primeira função')

In [6]:
# Chamando uma função
simple()

Minha primeira função

In [7]:
def plus_ten(a):
    return a + 10

In [8]:
plus_ten(5)

15

In [9]:
def plus_ten(a):
    resultado = a + 10
    return resultado

In [10]:
plus_ten(2)

12

In [11]:
# Usando uma função em outra função
def wage(w_hours):
    return w_hours * 25

def com_bonus(w_hours):
    return wage(w_hours) + 50

In [12]:
wage(8), com_bonus(8)

(200, 250)

In [13]:
# Combinando condicionais e funções

# A função abaixo acrescenta $ 10 caso economize +100
def add_10(m):
    if m >= 100:
        m = m + 10
        return m
    else:
        return 'Poupe mais meu filho!'

In [14]:
add_10(50)

'Poupe mais meu filho!'

In [15]:
# Trabalhando com mais de um parâmetro em uma função
def sub_bc(a,b,c):
    resultado = a - b*c
    print('Param a igual: {a}\nParam b igual: {b} '
            '\nParam c igual: {c}'.format(a=a, b=b, c=c))
    return resultado

In [16]:
sub_bc(10,3,2)

Param a igual: 10
Param b igual: 3
Param c igual: 2

4

In [17]:
# Podemos declarar o nome dos parâmetros
sub_bc(a=10,b=3,c=2)

Param a igual: 10
Param b igual: 3
Param c igual: 2

4

# Listas

In [18]:
Participantes = ['Ana', 'Beatriz', 'Johnny', 'Maria']
Participantes

['Ana', 'Beatriz', 'Johnny', 'Maria']

In [19]:
# Lembrando que no Python começa a contar do 0
print(Participantes[2])

Johnny

In [20]:
# Posições do fim para o começo
Participantes[-2]

'Johnny'

In [21]:
del Participantes[2]
Participantes

['Ana', 'Beatriz', 'Maria']

In [22]:
Participantes[-2]

'Beatriz'

In [23]:
# Para adicionar 1 dado a lista
Participantes.append('Luke')
Participantes

['Ana', 'Beatriz', 'Maria', 'Luke']

In [24]:
# Para adicionar um lista dentro da lista
Participantes.extend(['Marco','Larissa'])
Participantes

['Ana', 'Beatriz', 'Maria', 'Luke', 'Marco', 'Larissa']

In [25]:
# Contando os elementos da lista
# O len() pode ser usado para contar qtd de caracteres também
len(Participantes)

6

# Dicionários

In [26]:
time = {}
time['PG'] = 'Dirk'
time['SG'] = 'Al'
time['SF'] = 'Sean'
time['PF'] = 'Alex'
time['Center'] = 'Heitor'

In [27]:
print(time)

{'PG': 'Dirk', 'SG': 'Al', 'SF': 'Sean', 'PF': 'Alex', 'Center': 'Heitor'}

In [28]:
print(time['Center'])

Heitor

In [29]:
print(time.get('SF'))

Sean

# Loops

In [30]:
even = [0,2,4,6,8,10,12,14,16,18,20]

In [44]:
for n in even:
    print(n)

0
2
4
6
8
10
12
14
16
18
20

In [46]:
x = 0
while x <= 20:
    print(x)
    x += 2

0
2
4
6
8
10
12
14
16
18
20

In [51]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [54]:
for x in range(20):
    if x % 2 == 0:
        print(x)
    else:
        print('Impar')

0
Impar
2
Impar
4
Impar
6
Impar
8
Impar
10
Impar
12
Impar
14
Impar
16
Impar
18
Impar

In [55]:
# mostra a qtd de valores menores q 20
def count(num):
    t = 0
    for x in num:
        if x < 20:
            t += 1
    return t

In [56]:
list_1 = [1,2,4,6,25,64,78,85]

In [57]:
count(list_1)

4

In [64]:
# Iterando usando dict
preco = {
    'macarrão':4,
    'tomate':2,
    'bife':10
}

qtd = {
    'macarrão':6,
    'tomate':10,
    'bife':0
}

money_spent = 0

for i in preco:
    money_spent = money_spent + (preco[i]*qtd[i])
    
print(money_spent)

44

In [4]:
# Importando somente o módulo que utilizaremos de uma biblioteca
from math import sqrt as s

In [6]:
# Para abrir mais informações de uma biblioteca
help(s)

Help on built-in function sqrt in module math:

sqrt(x, /)
    Return the square root of x.