# Intro If, Else e Elif

Crie um código com duas linhas que imprima 'A condição é satisfatória!' se 5 for maior que 2.

In [1]:
if 5 > 2:
    print('A condição é satisfatória!')

A condição é satisfatória!

Atribua 10 a variável x e 25 a variável y. Numa célula crie 2 condições.

    1º imprima 'As duas condições estão corretas.' se x for maior que 3 e y maior que 13.
    2º imprima 'A última condição é falsa.' se x for menor ou igual a 3 ou y for menor ou igual a 13.

Altere os valores de x e y e reexecute o código para verificar se está correto.

In [2]:
x = 3
y = 14

if x > 3 and y > 13:
    print('As duas condições estão corretas.')
if x <= 3 or y <= 13:
    print('A última condição é falsa.')

A última condição é falsa.

Atribua 200 à x.

Crie o seguinte pedaço de código:

    Se x > 200, imprima 'Big'
    Se x > 100 e <= 200, imprima 'Average'
    Se x <= 100, imprima 'Small'
    
Use if, elif e else no seu código.

In [3]:
x = 102

if x > 200:
    print('Big')
elif x > 100 and x <= 200:
    print('Average')
else:
    print('Small')

Average

# Usando uma função dentro de uma função

Defina uma função e adicione 5 como parâmetro.

Defina outra função que multiplique um valor por 3.

Verifique se seu código está correto chamando a segunda função com o argumento 5.

O seu resultado é 30?

In [4]:
def five(x):
    return x + 5

def mult(x):
    return five(x) * 3

In [5]:
mult(5)

30

# Listas

Crie uma lista chamada 'num' contendo os números 10, 25, 40 e 50.

In [6]:
num = [10,25,40,50]
num

[10, 25, 40, 50]

Retorne o segundo elemento da lista.

In [7]:
num[1]

25

Retorne o elemento 0 da lista.

In [8]:
num[0]

10

Retorne o 3º e o último elemento da lista.

In [9]:
num[2:]

[40, 50]

Substitua o número 10 por 15

In [10]:
num[0] = 15
num

[15, 25, 40, 50]

Delete o número 25 da lista.

In [11]:
del num[1]
num

[15, 40, 50]

# Fatiamento de listas

In [12]:
Numbers = [15, 40, 50, 100, 115, 140]

Usando fatiamento obtenha os números 100 e 115.

In [13]:
Numbers[3:5]

[100, 115]

Usando fatiamento extraia os 4 primeiros elementos da lista.

In [14]:
Numbers[:4]

[15, 40, 50, 100]

Usando fatiamento extraia todos os elementos a partir da terceira posição.

In [15]:
Numbers[2:]

[50, 100, 115, 140]

Crie uma lista chamada 'Numbers2' com os números 1 e 2.

Crie uma lista composta pela Numbers e a Numbers2 chamada 'td_numbers'.

In [16]:
Numbers2 = [1,2]

In [17]:
td_numbers = [Numbers, Numbers2]
td_numbers

[[15, 40, 50, 100, 115, 140], [1, 2]]

Orderne em ordem descrescente a lista Numbers.

In [18]:
Numbers.sort(reverse=True)
Numbers

[140, 115, 100, 50, 40, 15]

# Dicionários

In [30]:
Menu = {'meal_1':'Spaghetti', 'meal_2':'Fries', 'meal_3':'Hamburger', 'meal_4':'Lasagna'}

In [31]:
# Qual é o segundo elemento do dict acima?
Menu['meal_2']

'Fries'

In [32]:
# Adicione um nome elemento, 'Soup'
Menu['meal_5'] = "Soup"
Menu

{'meal_1': 'Spaghetti',
 'meal_2': 'Fries',
 'meal_3': 'Hamburger',
 'meal_4': 'Lasagna',
 'meal_5': 'Soup'}

In [33]:
# Troque Humburger por Cheeseburger
Menu['meal_3'] = "Cheeseburger"
Menu

{'meal_1': 'Spaghetti',
 'meal_2': 'Fries',
 'meal_3': 'Cheeseburger',
 'meal_4': 'Lasagna',
 'meal_5': 'Soup'}